@keyframes bg-grad {
    0%, 100% {
        background: rgb(21, 0, 36) ;
    }
    50% {
        background: rgb(69, 0, 119)  ;
    }
  }



  body {
    animation-name: bg-grad;
    animation-duration: 20s; /* or: Xms */
    animation-iteration-count: infinite;
    animation-timing-function: linear; 
   }