@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
    src: local('Material Icons'),
      local('MaterialIcons-Regular'),
      url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
      url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
      url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
  }
  .material-icons {
    cursor: pointer;
    color:white;
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 1.8vw;  /* Preferred icon size */
    display: inline-block;
    line-height: 40px !important;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';

    transition: all 0.4s;
  }

#lecteur div {
    display: inline-block;
    line-height: 40px !important;

}

div i{
    line-height: 40px !important;
}
  div i:hover {
      color: #48a0f7;
      cursor: pointer;
  }

  i.material-icons{
      height:40px !important;
      line-height: 40px;
      position: relative;
      top: 0;
  }
  



#donneAuteur {
    padding: 20px;
    border-radius: 5vw;
    margin-right: 2vw;
    margin-top: 5vh;
    color: white;
    background: #351838;
    box-shadow: 5px 5px 450px black;
}
#now {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#cover{
    margin-left: 5vw;
    margin-top: 5vh;
}

body{
    font-family: 'Cinzel', serif;
    position: relative;
    /*background: rgb(21, 0, 36) ;*/
}

thead{
    background: rgb(42, 0, 71) ;
}

tbody tr{
    transition: all 0.4s;
}

tbody tr:hover{
    background: #001251;
}

#lecteur {

    color: white;
    position: fixed;
    bottom:0;
    height: 40px;
    background: #451D1E;
}

#table{
    color:white;
    text-align: center;
}

table{
    text-align: center;
}