@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
    src: local('Material Icons'),
      local('MaterialIcons-Regular'),
      url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
      url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
      url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
  }
  .material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
  }

  
/*font-family: 'Cinzel Decorative', cursive;*/
 


body {
    font-family: 'Cinzel', serif;
    background-color: #003876;
    position: relative;
}

#myVideo {
    position: fixed;
    right: 50;
    bottom: 50;
    width: auto; 
    height: auto; 
    min-width: 100%; 
    min-height: 100%;
}

#logo{
    position: relative;
    width: 150px;
}

#title_Logo{
    position: relative;
    color: white;
    font-family: 'Fredoka One', cursive;
}

#conexions{
    position:absolute;
    top: 50vh;
}



.bouttonConnexions{
    color: white;
    font-family: 'Cinzel', serif;
    background-color: #640673;
    transition: all 0.4s;
   
}

.bouttonConnexions:hover {
    background-color: #34033d;
}

#typosTitle{
    text-shadow: 6px 6px 5px black;
    color: #b5bcf2;
    font-size: 160px;
}


.waves-effect input[type="submit"]{
    color:white;
}